In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

23/04/13 13:51:22 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
df_pyspark = spark.read.csv('test1.csv', header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
# Filter Operations

In [5]:
## Salary of the people with salary less than 20000
df_pyspark.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [6]:
df_pyspark.filter('Salary<=20000').select(['Name','age','Salary']).show()

+-------+---+------+
|   Name|age|Salary|
+-------+---+------+
|  Sunny| 29| 20000|
|   Paul| 24| 20000|
| Harsha| 21| 15000|
|Shubham| 23| 18000|
+-------+---+------+

In [7]:
df_pyspark.filter((df_pyspark['Salary']<=20000) &
                  (df_pyspark['age'] <= 25)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [8]:
#Not condition or Inverse operation
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+